.navbar-brand {
    font-size: 1.5rem;
}

.navbar {
    border-bottom: 0.5px solid;
    .navbar-toggler {
        display: block;
        @include media-breakpoint-up(lg) {
            display: none; 
        }
    }
}

.nav-link {
    color: $dg !important;
    font-weight: 500;
    margin: 0 0.5rem;
    &:hover {
        color: $dg !important;
    }
}