/* scss/_masterclasses.scss */

.masterclasses-section {
    background-color: lighten($primary, 40%); // Светлый фон для контраста
    .carousel-item {
        padding: 2rem;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
        background-color: $primary;
        border-radius: 50%;
        padding: 1rem;
    }
}